body.login-bg {
  background: #fbfcfd;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.login-form {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.02);
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    background: #fbfcfd;
    border: 1px solid #c3c6ca;
  }

.login-container h2 {
  font-size: 24px;
  margin-bottom: 30px;
  color: #1a1a2e;
}

.login-container form {
  display: flex;
  flex-direction: column;
  width: 100%; 
  background: #f4f6f9;
  border-radius: 8px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-group label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #1a1a2e;
}

.form-group input {
  padding: 10px 12px;
  border: 1px solid #dddd;
  border-radius: 6px;
  font-size: 14px;
  
}

.form-group input:focus {
  outline: none;
  border-color: #e8b84b;
}

.login-container button {
  padding: 12px;
  background-color: #e8b84b;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
}

.login-container button:hover:not(:disabled) {
  background-color: #d79d31;
  color: #484856;
}

.login-container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.error {
  color: #e24b4a;
  background: #fee;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 16px;
  border-left: 4px solid #e24b4a;
  font-size: 14px;
}

.login-container p {
  margin-top: 20px;
  font-size: 14px;
  color: #3b3a3a;
  text-align: center;
}

.login-container .forgot-link a {
  color: #232222;
  text-decoration: none;
  font-weight: 600;
}

.login-container a {
  color: #160f01;
  text-decoration: none;
  font-weight: 600;
}

.login-container a:hover {
  text-decoration: none;
  color: #1a1a2e;
}

@media screen and (max-width: 768px) {
  .login-container {
    min-height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background: #fbfcfd;
  }

  .login-form {
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    background: #f0f3f6;
  }
}   

@media screen and (max-width: 480px) {
  .login-container {
    min-height: calc(100vh - 350px);
    padding: 50px 10px;
    background: #fbfcfd;
  }

  .login-form {
    padding: 24px 16px;
    box-shadow: none;
    max-width: 80%;
    background: #f0f3f6;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  }
}   